.edit-role-content {
  margin-left: 200px;
}
.nav-head {
  color: brown;
}
.table-data {
  text-align: center;
}
@media screen and (max-width: 700px) {
  .edit-role-content {
    margin-left: 120px;
  }
  .nav-head {
    font-size: xx-small;
  }
  .nav-icon {
    font-size: xx-small;
  }
}
