.home-content {
  margin-left: 200px;
}
.asset-head {
  color: brown;
  animation-name: home;
  animation-duration: 4s;
}
.asset-head-b {
  animation-name: homeb;
  animation-duration: 4s;
  color: brown;
}
@keyframes homeb {
  from {
    color: rgb(199, 142, 142);
    font-size: xx-small;
  }
  to {
    color: rgb(91, 5, 5);
    font-size: large;
  }
}
@keyframes home {
  from {
    color: rgb(199, 142, 142);
    font-size: x-large;
  }
  to {
    color: rgb(91, 5, 5);
    font-size: medium;
  }
}

@media screen and (max-width: 700px) {
  .home-content {
    margin-left: 120px;
  }
  .asset-head {
    font-size: xx-small;
  }
  .asset-head-b {
    font-size: xx-small;
  }
}
