.validation_error {
  color: red;
  font-family: sans-serif;
  font-size: small;
}

.login_form_container {
  border: 2px solid silver;
  margin-top: 10%;
  border-radius: 30px;
}
.login_heading {
  color: brown;
  text-align: center;
  font-family: fantasy;
  border-bottom: 1px solid brown;
  padding-bottom: 10px;
  margin-bottom: 25px;
}
