.sidebar {
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
  width: 200px;
  text-align: center;
  background-image: url("../images/keith-misner-h0Vxgz5tyXA-unsplash.jpg");
  position: fixed;
  height: 100%;
  overflow: auto;
}

.spreader:hover {
  cursor: pointer;
}
.spreader-link {
  background-color: rgba(158, 105, 105, 0.785);
  opacity: 0.7;
}
.sidebar .a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

.sidebar .a:hover:not(.active) {
  background-color: rgba(134, 71, 71, 0.705);
  color: white;
}

.logout_button:hover {
  background-color: #555;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 120px;
  }
}
