.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #323030;

  position: fixed;
  height: 100%;
  overflow: auto;
}
.spreader:hover {
  cursor: pointer;
}
.spreader-link {
  background-color: rgb(71, 69, 69);
}
.sidebar .a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

.sidebar .a.active {
  background-color: #020e0a;
  color: white;
}
.sidebar .a.active:hover {
  background-color: #555;
}

.sidebar .a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.logout_button:hover {
  background-color: #555;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100px;
  }
}
