.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 200px;
  background-color: rgba(237, 230, 230, 0.872);
  border-top: 1px solid silver;
  height: 60px;
  color: brown;
}
.social-icon {
  padding-left: 200px;
}
@media screen and (max-width: 700px) {
  .footer {
    left: 120px;
  }
  .social-icon {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .social-icon {
    padding-left: 50px;
  }
}
