.all-users-content {
  margin-left: 200px;
}
.user-table-row:hover {
  background-color: silver;
}
.search-input {
  border: 0;
  border-bottom: 2px solid brown;
  outline: none;
  width: 20%;
}

.pagination-icons:hover {
  background-color: brown;
  color: white;
  font-weight: bold;
}
.pagenumber-class {
  font-weight: bold;
  font-size: medium;
  color: brown;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  padding-left: 5px;
  padding-right: 5px;
  display: block;
  margin-bottom: 10px;
}

.pagination-wrapper {
  overflow: auto;

  padding: 5px;
}
.pagination-wrapper::-webkit-scrollbar {
  display: none;
}
.user-tableScroll::-webkit-scrollbar {
  display: none;
}
@media screen and (max-width: 700px) {
  .all-users-content {
    margin-left: 120px;
  }
  .search-input {
    width: 100%;
  }
}
