.create-user-content {
  margin-left: 200px;
}
.create-user-validation-error {
  color: red;
  font-family: sans-serif;
  font-size: small;
}

@media screen and (max-width: 700px) {
  .create-user-content {
    margin-left: 120px;
  }
}
