.permission-content {
  margin-left: 200px;
}
.permission-validation-error {
  color: red;
  font-family: sans-serif;
  font-size: small;
}

@media screen and (max-width: 700px) {
  .permission-content {
    margin-left: 100px;
  }
}
