.all-permission-content {
  margin-left: 200px;
}
.permission-table-row:hover {
  background-color: silver;
}
@media screen and (max-width: 700px) {
  .all-permission-content {
    margin-left: 120px;
  }
}
